*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: linear-gradient(to right, #43cea2, #185a9d);
}

h1{
    background-color: #081b31 ;
    color: #fff;
    height: 100px;
    line-height: 100px;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
 cursor:pointer;
 background-color: #081b31;  

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top:3% ;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 10rem;
}

#user-score,#comp-score,#total-move{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    margin-top: 5rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.restart-container {
    margin-top: 3rem;
}

#restart-btn {
    background-color: #081b31;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-btn:hover {
    background-color: #0564c3;
}
